<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # Verhindere Weiterleitung, wenn es sich um echte Dateien oder Verzeichnisse handelt
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d

  # Alle Anfragen an index.html weiterleiten
  RewriteRule . /index.html [L]
</IfModule>
